<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="/addTaskStudent" method="post">	
		<div class="wrapper">
			
	 <div class="form-login">
		 <h2>Add Student</h2><br>
    
    <div class="inputbox1">
		<span class="icon"></span>
      <input type="studentId" name="studentId" placeholder="Enter studentId here">
      <label>studentId</label>
    </div>

    
     <div class="inputbox1">
      <input type="studentName" class="form-control" name="studentName" placeholder=" Enter studentName here">
    	<label>studentName</label>
    </div>
    <div class="inputbox1">
		<span class="icon"></span>
      <input type="TeacherId" name="TeacherId" placeholder="Enter TeacherId here">
      <label>TeacherId</label>
    </div>

    
     <div class="inputbox1">
      <input type="marks" class="form-control" name="marks" placeholder=" Enter marks here">
    	<label>marks</label>
    </div>


<button type="submit" class="btn">Create</button>
    </div>
  </div> 
</form>
</body>
</html>