<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="/addTeacher" method="post">	
		<div class="wrapper">
			
	 <div class="form-login">
		 <h2>Add Teacher</h2><br>
    
    <div class="inputbox1">
		<span class="icon"></span>
      <input type="teacherId" name="teacherId" placeholder="Enter teacherId here">
      <label>teacher Id</label>
    </div>

    
     <div class="inputbox1">
      <input type="teacherName" class="form-control" name="teacherName" placeholder=" Enter teacherName here">
    	<label>teacher Name</label>
    </div>


<button type="submit" class="btn">Create</button>
    </div>
  </div> 
</form>
</body>
</html>