<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href"@{/CSS/style.css}" rel="stylesheet" />
</head>
<body>

 <div class="wrapper1">
			<div class="form-login">
			<h2>My Courses </h2>
		<table class="table">
				<thead>
					<tr>
						<th>Student Id</th>
						<th>Student Name</th>
						<th>Teacher</th>
						<th>Marks</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="clist: ${coursedata}">
						<td th:text="${clist.courseId}" />
						<td th:text="${clist.courseName}" />
						<td th:text="${clist.coursePrice}" />
					</tr>
				</tbody>
				
			</table>
			</div>
		</div>
</body>
</html>